doctype html
html
  head
    title= title
    doctype html(lang='en')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')    
    meta(name='description', content='')
    meta(name='author', content='') 
    link(rel='shortcut icon', href='images/favicon.png')  
    title BitCoach
    // Bootstrap core CSS
    link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/css/custom.css', rel='stylesheet')  
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css', rel='stylesheet')
    // Custom styles for this template
    //link(href='/css/style.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    //script(src='/bower_components/bootstrap/dist/javascripts/html5shiv.js')
    //script(src='/bower_components/bootstrap/dist/javascripts/respond.min.js')
    //script(src='http://code.jquery.com/jquery.js')
    //script(src="/javascripts/jquery.js")
    //script(src="/javascripts/bootstrap.min.js")
    //script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    //script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type="text/javascript" src="/javascripts/jquery.js" )
    script(type="text/javascript" src="/javascripts/bootstrap.min.js" )

    script(type="text/javascript" src='/bower_components/typeahead.js/dist/typeahead.jquery.js' defer)
    script(type="text/javascript" src='/bower_components/typeahead.js/dist/typeahead.bundle.js' defer)
    //script(src='/bower_components/typeahead.js/dist/bloodhound.js')
    script(type="text/javascript" src='/javascripts/navbar.js' defer)
    link(href='/css/navbar.css', rel='stylesheet')  
    script(type="text/javascript" src="https://cdn.jsdelivr.net/select2/4.0.1-rc.1/js/select2.js" defer)
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/select2/4.0.1-rc.1/css/select2.css" defer)
    
    
    

    //script(src='/bower_components/typeahead.js/dist/typeahead.bundle.js')

    block extraHeader
  body
    // Navbar
    #topnav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            .logo1
              // <img src="images/bclogo.png" alt="Expose" height="35px" />
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li(class=title=='Home'?'active':undefined)
              a(href="/") Home
            li(class=title=='Technologies'?'active':undefined)
              a(href='/technologies') Technologies & Frameworks
            li(class=title=='Rankings'?'active':undefined)
              a(href='/rankings') Rankings
            li.dropdown(class=category=='Sites'?'active':undefined)
              a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Sites 
                span.caret
              |           
              ul.dropdown-menu
                li
                  a(href='/sites') List
                |             
                li
                  a(href='/sites/table') Table
                |             
                li
                  a(href='#') Something else here
                |             
                li.divider(role='separator')
                |             
                li
                  a(href='#') Separated link
                |             
                li.divider(role='separator')
                |             
                li
                  a(href='#') One more separated link
            li(class=category=='DB'?'active':undefined)
              a(href='/db') DB


          form.navbar-form.navbar-right(role='search', action="/search", method="post")
            .form-group
              select.navselect.nav.navbar-nav.navbar-right
                option
              input(type="hidden" id="search_input" name='search_input' value="")
              button.btn.btn-info.btn-sm(id="navsearch_btn" type='submit') Select






                  
    
    // Page Header
    if title != "Home"
      .container
        .row
          .col-lg-12
            h1.page-header
              =title
    block content
