extends ../layout

block extraHeader
  link(rel='stylesheet', href='/css/site.css')
block content
  .container
    form(name="edit_site", method="post")
          div.input
              span.label URL
              input(type="text", name="url", value="#{site.url}")
          div.input
              span.label Name
              input(type="text", name="name", value="#{site.name}")
          div.input
              span.label Languages
              input(type="text", name="languages", value="#{site.languages}")
          div.input
              span.label Paid?
              input(type="boolean", name="paid", value="#{site.paid}")
          div.input
              span.label Virtual?
              input(type="boolean", name="virtual", value="#{site.virtual}")
          div.input
              span.label Price Per Month
              input(type="number", name="price_per_month", value="#{site.price_per_month}")
          div.input
              span.label Rating
              input(type="number", name="rating", value="#{site.rating}")
          div.input
              span.label Long Description
              input(type="text", name="long_description")
          div.input
              span.label Short Description
              input(type="text", name="short_description")
          div.input
              span.label Thumbnail File Path
              input(type="text", name="thumbnail_path")
          div.input
              span.label Large Banner File Path
              input(type="text", name="large_banner_path")
              
          div.actions
              input(type="submit", value="update")
