extends ../layout

block content
  .container
    h3 Current DB Entries:
    table.table
      th Name
      th URL
      th Lanuages
      th Paid?
      th Virtual?
      th Price/month
      th Rating
      for site in site_list
        tr
         td #{site.name}
         td #{site.url}
         td #{site.languages}
         td #{site.paid}
         td #{site.virtual}
         td #{site.price_per_month}
         td #{site.rating}
